<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-12" style="text-align: left;color: gray">

                   <!-- Change password form  -->
                    <div class="card">
                        <h3 class="pt-4 ml-3">Change Password</h3>
                        <hr>                       

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;">
                                
                                <!-- Current password -->
                                <div class="md-form">
                                    <input type="text" id="materialRegisterFormFirstName" class="form-control">
                                    <label for="materialRegisterFormFirstName">Current Password</label>
                                </div>
                                
                                <!-- New password -->
                                <div class="md-form">
                                    <input type="email" id="materialRegisterFormLastName" class="form-control">
                                    <label for="materialRegisterFormLastName">New Password</label>
                                </div>

                                <!-- Confirm password -->
                                <div class="md-form">
                                    <input type="email" id="materialRegisterFormLastName" class="form-control">
                                    <label for="materialRegisterFormLastName">Confirm Password</label>
                                </div>

                                <!-- Remember me -->
                                <div class="form-check" style="text-align: left">
                                    <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                                    <label class="form-check-label" for="materialLoginFormRemember"><span class="fontSize">Show Password</span>
                                    </label>
                                </div>

                                <div>
                                    <!-- Save changes button -->                                    
                                    <button class="btn btn-info btn-rounded my-4 waves-effect z-depth-0" type="submit">
                                    <span style="font-weight:bold;">Save Changes</span></button>

                                    <!-- Cancel button -->
                                    <a href="#!/user/profile" class="btn btn-default btn-rounded my-4 waves-effect z-depth-0" type="submit"><span style="font-weight:bold;">Cancel</span></a>  
                                </div>

                            </form>
                            <!-- Form -->

                        </div>

                    </div>
                    <!-- Change password form  -->
                </div>
                <!--Grid column-->
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
