<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-12" style="text-align: left">

                   <!-- Edit profile form -->
                    <div class="card">    
                 
                        <!--Card content-->
                        <div class="card-body">                   
                           
                            <table class="table">                              
                              <tbody>
                                <h5 class="font-weight-normal">Reviews</h5>
                                <tr class="row">
                                    <td class="col-4">
                                        <img src="assets/img/default.jpg" class="reviewImg">
                                    </td>
                                    <td class="col-8 block">
                                        <h6>20% cashback on T-shirts</h6>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star-half-o"></i></span>
                                        <span class="fontSize" style="margin-left: 5px">(4.5)</span>
                                        <p class="fontSize">Details of the offer and conditions of validity
                                        <br>
                                         Valid upto: 
                                        <span class="text-primary">15th Aug, 2018</span></p>                            
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">
                                        <img src="assets/img/default.jpg" class="reviewImg">
                                    </td>
                                    <td class="col-8 block">
                                        <h6>20% cashback on T-shirts</h6>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star-half-o"></i></span>
                                        <span class="fontSize" style="margin-left: 5px">(4.5)</span>
                                        <p class="fontSize">Details of the offer and conditions of validity
                                        <br>
                                         Valid upto: 
                                        <span class="text-primary">15th Aug, 2018</span></p>                            
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">
                                        <img src="assets/img/default.jpg" class="reviewImg">
                                    </td>
                                    <td class="col-8 block">
                                        <h6>20% cashback on T-shirts</h6>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star-half-o"></i></span>
                                        <span class="fontSize" style="margin-left: 5px">(4.5)</span>
                                        <p class="fontSize">Details of the offer and conditions of validity
                                        <br>
                                         Valid upto: 
                                        <span class="text-primary">15th Aug, 2018</span></p>                            
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="col-4">
                                        <img src="assets/img/default.jpg" class="reviewImg">
                                    </td>
                                    <td class="col-8 block">
                                        <h6>20% cashback on T-shirts</h6>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star"></i></span>
                                        <span class="faStarColor"><i class="fa fa-star-half-o"></i></span>
                                        <span class="fontSize" style="margin-left: 5px">(4.5)</span>
                                        <p class="fontSize">Details of the offer and conditions of validity
                                        <br>
                                         Valid upto: 
                                        <span class="text-primary">15th Aug, 2018</span></p>                            
                                    </td>
                                </tr>
                                
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Edit profile form -->

                </div>
                <!--Grid column-->
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
