<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-12"> 

                    <!-- Profile Img -->
                    <div class="card-body">
                        <img src="assets/img/default.jpg" class="d-block mx-auto img-thumbnail rounded-circle mb-3"></a>
                    </div>
                    <!-- Profile Img -->

                    <!-- Card1 -->
                    <div class="card mt-3 mb-4">                          

                        <!--Card content-->
                        <div class="card-body">
                            <h6 style="font-weight: bold">
                                <i class="fa fa-user-o"></i>
                                <span class="ml-2"> Jitun Bisoy</span>
                            </h6>
                            <h6>
                                <i class="fa fa-envelope-o"></i>
                                <span class="ml-2"> jbisoy@gmail.com</span>
                            </h6>
                            <h6>
                                <i class="fa fa-mobile" style="font-size: 24px"></i>
                                <span class="ml-2"> +91 9778715954</span>
                            </h6>
                        </div>

                    </div>
                    <!-- Card1 -->

                    <!-- Card2 -->
                    <div class="card mt-3 mb-4">                          

                        <!--Card content-->
                        <div class="card-body">
                            <h6 style="font-weight: bold">
                                <i class="fa fa-map-o"></i>
                                <span class="ml-2"> My Address</span>
                            </h6>
                            <hr>
                                <div class="fontSize">
                                   <strong> Jitun Bisoy </strong>
                                    <br>
                                    Atreyawebs, Gandhi Nagar
                                    <br>
                                    Near NIEOL
                                    <br>
                                    Berhampur-760001
                                    <br>
                                    ODISHA
                                    <br>
                                    Ph - +91 9778715954
                                </div>
                            <hr>
                            <div class="text-right" style="font-size: 12px;font-weight: bold" >
                                <a href="#"><span > View More</a>
                            </div>                            
                        </div>

                    </div>
                    <!-- Card2 -->

                    <!-- Card3 -->
                    <div class="card mt-3 mb-4">                          

                        <!--Card content-->
                        <div class="card-body" style="padding: 0px;">
                            <div class="list-group list-group-flush fontSize">
                                <a href="#!/user/edit-profile" class="list-group-item waves-effect">
                                    <i class="fa fa-user"></i> 
                                    <span class="ml-2"> Edit Profile</span>
                                </a>
                                <a href="#!/user/changepassword" class="list-group-item waves-effect">
                                    <i class="fa fa-lock"></i>
                                    <span class="ml-2"> Change Password</span>
                                </a>
                                <a href="#!/user/orders" class="list-group-item waves-effect">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="ml-2"> My Orders</span>
                                </a>
                                <a href="#!/zCashPoint" class="list-group-item waves-effect">
                                    <i class="fa fa-money"></i>
                                    <span class="ml-2"> Z-Cash Point</span>
                                </a>
                                <a href="#!/user/reviews" class="list-group-item waves-effect">
                                    <i class="fa fa-star"></i>
                                    <span class="ml-2"> My Reviews</span>
                                </a>
                                <a href="#!/user/rewards" class="list-group-item waves-effect">
                                    <i class="fa fa-trophy"></i>
                                    <span class="ml-2"> My Rewards</span>
                                </a>
                            </div>            
                        </div>

                    </div>
                    <!-- Card3 -->

                </div>
                <!--Grid column-->
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
