<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <!-- <div class="col-1" style="text-align: center">
                   
                </div> -->
                <!--Grid column-->

                <!--Grid column-->
                <!-- <div class="col-5" style="text-align: center">
                   <a href="#" class="btn btn-link-info tpbt" data-toggle="modal" data-target="#modalSort"><i class="fa fa-sort-alpha-asc"></i> Sort</a> 
                </div> -->
                <!--Grid column-->

                <!--Grid column-->
                <!-- <div class="col-6">
                   <a href="#" class="btn btn-link-info tpbt" data-toggle="modal" data-target="#modalFilters"><i class="fa fa-filter"></i> Filter</a>
                </div> -->
                <!--Grid column-->
               
               <!-- <div class="row"> -->
                    <div class="col-12">
                        <table class="card">
                           <tbody>
                                <tr class="row" style="padding: 15px">
                                    <td class="col-4">
                                       <img src="assets/img/product1.jpg" alt="product1" style="height:80px; width:100px">
                                    </td>
                                    <td class="col-8" >                                        
                                        <span class="pull-right" style="padding-left: 3px">
                                            <a href="#" >
                                                <i class="fa fa-heart-o" style="color: gray"></i>
                                            </a>
                                        </span>
                                        <a href="#">
                                            <h6 class="card-title" style="color: gray; font-size: 14px; font-weight: bold ">Samsung Q Series 163cm (65 inch) Ultra HD (4K) QLED Smart TV (65Q8CN)</h6>
                                        </a>
                                        <span style="padding: 0px;" class="faStarColor">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <p class="card-text">
                                            <i class="fa fa-inr" style="color:gray"></i> 439900.00
                                        </p>
                                        <span class="pull-left">
                                            <a href="#" class="btn btn-sm btn-outline-cyan" role="button" id="add-cart">
                                                <span style="font-weight: bold">Add to cart</span></a>
                                        </span>
                                    </td>
                                </tr>

                                <tr class="row" style="padding: 15px">
                                    <td class="col-4">
                                       <img src="assets/img/product2.jpg" alt="product2" style="height:130px; width:65px">
                                    </td>
                                    <td class="col-8" >                                        
                                        <span class="pull-right" style="padding-left: 3px">
                                            <a href="#" >
                                                <i class="fa fa-heart-o" style="color: gray"></i>
                                            </a>
                                        </span>
                                        <a href="#">
                                            <h6 class="card-title" style="color: gray; font-size: 14px; font-weight: bold ">OPPO F7 (Silver, 64 GB) (4 GB RAM)</h6>
                                        </a>
                                        <span style="padding: 0px;" class="faStarColor">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <p class="card-text">
                                            <i class="fa fa-inr" style="color:gray"></i> 190.00
                                        </p>
                                        <span class="pull-left">
                                            <a href="#" class="btn btn-sm btn-outline-cyan" role="button" id="add-cart">
                                                <span style="font-weight: bold">Add to cart</span></a>
                                        </span>
                                    </td>
                                </tr>

                                <tr class="row" style="padding: 15px">
                                    <td class="col-4">
                                       <img src="assets/img/product3.jpg" alt="product3" style="height:130px; width:65px">
                                    </td>
                                    <td class="col-8" >                                        
                                        <span class="pull-right" style="padding-left: 3px">
                                            <a href="#" >
                                                <i class="fa fa-heart-o" style="color: gray"></i>
                                            </a>
                                        </span>
                                        <a href="#">
                                            <h6 class="card-title" style="color: gray; font-size: 14px; font-weight: bold ">VIVO V9 (Gold, 64 GB) (4 GB RAM)</h6>
                                        </a>
                                        <span style="padding: 0px;" class="faStarColor">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <p class="card-text">
                                            <i class="fa fa-inr" style="color:gray"></i> 149.00
                                        </p>
                                        <span class="pull-left">
                                            <a href="#" class="btn btn-sm btn-outline-cyan" role="button" id="add-cart">
                                                <span style="font-weight: bold">Add to cart</span></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               </div>
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
