<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-12" style="text-align: center">
                   <!-- Edit profile form -->
                    <div class="card">    
                 
                        <!--Card content-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">                      
                                   <a href="#">
                                       <img src="assets/img/product1.jpg" alt="" style="height:70px;width:100px">
                                   </a>
                                   <br>
                                   <form action="">
                                       <input type="button" value="-" class="qtyminus" field="quantity_0">
                                       <input type="text" name="quantity_0" class="qty quantity" value="1">
                                       <input type="button" value="+" class="qtyplus" field="quantity_0">
                                   </form>
                                   </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Edit profile form -->

                </div>
                <!--Grid column-->
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
