<!--Main layout-->
    <main>
       <!--Main container-->
        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-12" style="text-align: center">
                   <h2>My Cart</h2>
                </div>
                <!--Grid column-->
               
            </div>
            <!--Grid row-->

        </div>
        <!--Main container-->
    </main>
    <!--Main layout-->
